* {
    margin: 0;
}

body{
    height:100%;
}

.page {
    display: none;

}

.rod {
        color: #DC3130
    }




.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #002147;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 20000;
}

.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: domine;
    padding: 20px;
}

header {
    width: 100vw;
    margin: 0;
    box-shadow: 0 4px 10px 2px #002147;
    position: sticky;
    top: 0px;
}

.overlay img {
    width: 50%;
    margin-top: 30px;
}



.overlay .closebtn {
    position: absolute;
    top: 20px;
    left: 45px;
    font-size: 60px;
    padding: 0;
}

.burgermenu {
    color: white;
    position: absolute;
    left: 15px;
    font-size: 45px;
    top: 7px
}

.computernavigation {
    display: none;
}

.mobilnavigation {
    background-color: #002147;
    width: 100%;
    height: 65px;
    position: sticky;
    z-index: 10000;
}

.knap-log {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: raleway;
    padding: 5px;
    outline: 1px solid white;
    position: absolute;
    right: 15px;
    top: 19px;
}

.headlogo {
    max-width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.heromobil {
    width: 100vw;
    margin: 0;
    padding: 0;
}



header p {
    display: none
}

.herocom {
    display: none;
}

/*nye opskrifter forside*/

.nyeopskrifter {
    background-image: url(../img/blaabaggrundmobil.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 180vw;
    width: 100vw;
    position: absolute;
    z-index: 10;


}

.nyeopskrifter h2 {
    font-size: 5.5vw;
    position: absolute;
    top: 2vw;
    left: 6%;
    font-family: domine;
    color: #002147;
}

.kort {
    position: relative;
    width: 92%;
    margin-left: 4%;
    background-color: white;
    height: 65vw;
    top: 30px;
    border-radius: 7px;
    text-decoration: none;
    margin-top: 30px;
    box-shadow: 0 4px 10px 2px rgb(00, 00, 00, 0.3);

}

.comtekst{
    display: none;
}

.madbillede {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2.5%;
}

.tid {
    text-decoration: none;
    color: white;
    position: absolute;
    top: 32vw;
    left: 5vw;
    font-size: 4vw;
    font-family: raleway;
}

.svarhedsgrad {
    position: absolute;
    width: 19vw;
    top: 32vw;
    right: 5vw;
}

.opskrift {
    text-decoration: none;

}

.kort h3 {
    font-family: domine;
    text-decoration: none;
    color: #002147;
    position: absolute;
    left: 2.5%;
    padding-top: 2vw;
    font-size: 5vw;
}

.beskrivelse {

    text-decoration: none;
    color: #002147;
    margin-left: 2.5%;
    font-family: raleway;
    position: absolute;
    top: 50vw;
    font-size: 4vw;

}

.opskriftknap {
    position: absolute;
    text-decoration: none;
    padding: 2vw;
    color: white;
    background-color: #002147;
    right: 5.5%;
    bottom: 6.5vw;
    padding: 2vw;
    background-color: #002147;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 3.5vw;
    font-family: domine;

}

.nytafsnit {
    height: 1000px;
    width: 100vw;
    background-color: aqua;
    top: 98vh;
    position: relative;


}

.overskrifttablet {
    display: none;
}

.overkrifttablet2 h2 {
    display: none;
}

.tekstunderknap {
    display: none;
}

.ugensmenu {
    background-image: url(../img/gulbaggrundmobil.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vw;
    width: 100vw;

}

.overskrifttablet2 h2 {
    display: none;
}

.overskrifttablet2 p {
    display: none;
}

.overskriftmobil2,
.overskriftmobi {
    position: relative;
    left: 6%;
    top: 3.5vw;
    color: #002147;
    display: inline;
    font-size: 5.5vw;
    font-family: domine;

}

.orden {
    height: 178vw;
    z-index: -1;
    opacity: 0;
}

.nemret {
    width: 92%;
    margin-left: 4%;
    background-color: white;
    height: 120vw;
    position: relative;
    top: 6vw;
    border-radius: 7px;
    box-shadow: 0 4px 10px 2px rgb(00, 00, 00, 0.3);


}

.nemret .video {
    width: 100%;
    height: 50vw;
    border-radius: 7px;
}

.nemret h3 {
    width: 90%;
    margin-left: 5%;
    font-family: domine;
    margin-top: 2vw;
    color: #002147;

}

.nemret img {
    width: 25vw;
    margin-left: 5%;
    margin-top: 2vw;
}

.nemtid {
    font-size: 4vw;
}

.nemret p {
    color: #002147;
    margin-left: 5%;
    margin-top: 4vw;
}

.like {
    font-size: 7vw;
    position: relative;
    left: 80vw;
    top: -6.5vw;

}

.nemret a {
    text-decoration: none;
    color: #002147;

}

.nembeskrivelse {
    font-size: 4vw;
    width: 90%;
    margin-top: 17px;
    position: relative;
    top: -27px;
}

.kokkeskoleforside {
    width: 100vw;
    height: 105vw;
    background-image: url(../img/rodbaggrundmobil.png);
    background-size: cover;
}

/*---KOKKESKOLE-----*/

.contentkok {
    width: 65vw;
    height: 10vw;
    display: flex;

}




.koklink1 a {
    text-decoration: none;
    color: white;
    font-family: domine;
}

.koklink1 img {
    width: 40vw;
    position: relative;
    left: 5.5vw;
    top: 10vw;
    box-shadow: 0 4px 10px 2px rgb(00, 00, 00, 0.3);
    border-radius: 7px;

}

.koklink1 p {
    position: relative;
    width: 35vw;
    left: 8vw;
    top: -3vw;
    font-size: 4.5vw;

}

.koklink2 {
    left: 6vw;
    position: relative;
}

.semere {
    padding: 2vw;
    background-color: #002147;
    color: white;
    text-decoration: none;
    position: relative;
    top: 75vw;
    left: 70vw;
    text-align: center;
    font-size: 3.5vw;
    font-family: domine;
}

.semere i {
    top: 0.5vw;
    position: relative;
}

.koklink3 {
    display: none;
}

.semreretekst {
    display: none;
}

/*----FOOTER-----*/

footer{
width:100vw;
height:60vw;
background-color:#002147;
position: relative;
    bottom: 0;
}

footer p{
    text-align: center;
    color:white;
    font-family: domine;
    font-weight: 800;
    font-size: 7vw;
    position: relative;
    top:4vw;
    
}

footer ul{
    list-style: none;
    text-align: center;
    padding:0;
    
}

footer li{
    margin-top: 4vw;
    position: relative;
    top:5vw;
    font-family: domine;
    color:white;
    display: inherit;
    font-family: raleway;
}

footer a{
    text-decoration: none;
    color:white;
    font-family: domine;
    font-family: raleway;
}

footer img{
    width:8vw;
    position: relative;
    left:35vw;
    top:10vw;
    margin:2vw;
}

.opskriftheader{
    position: relative;
    top:2vw;
    height:62vw;
    width:100vw;
    margin-bottom: -3vw
}

.ops-overskirftmobil{
    font-family: domine;
    color:#002147;
    font-weight: 800;
    position: relative;
    left:4vw;
    top:3vw;   
    font-size: 7vw;
    display: inline-block;
}

.ops-beskrivelsemobil{
    font-family: raleway;
    position: relative;
    top:4vw;
    left:4vw;
    color:#002147;
     display:block;
    width:90vw;
    font-size: 4vw;
}

.opskriftheader img{
   
    background-color: white;
    padding:2vw;
    width: 10vw;
    box-shadow:0 2px 6px 1px rgb(00, 00, 00, 0.2);
    border-radius: 7px;
    height: 10vw;
    margin:1vw;
    margin-left: 4vw;
    cursor: pointer;
    
    
}

.filter{
    display: flex;
    width:95%;
    margin-left: 2.5%;
    position: relative;
    top:9vw;
    
}

.alleops{
    font-family: 2vw;
    position: relative;
    left:-91vw;
    top:17vw;
    text-align: center;
    font-size: 3vw;
    font-family: raleway;
    color:#002147;
    
}

.kod{
    
    font-family: 2vw;
    position: relative;
    left:-81vw;
    top:17vw;
    text-align: center;
    font-size: 3vw;
    font-family: raleway;
    color:#DC3130;
    
    
}

.kylling{
    font-family: 2vw;
    position: relative;
    left:-69.5vw;
    top:17vw;
    text-align: center;
    font-size: 3vw;
    font-family: raleway;
    color:#F7DD7B;
}

.fisk{
    
    font-family: 2vw;
    position: relative;
    left:-58vw;
    top:17vw;
    text-align: center;
    font-size: 3vw;
    font-family: raleway;
    color:#002147;
    
}

.vegetar{
    
     font-family: 2vw;
    position: relative;
    left:-47.5vw;
    top:17vw;
    text-align: center;
    font-size: 3vw;
    font-family: raleway;
    color:#00470B;
    
}

input{
    width:95vw;
    height:8vw;
    border-radius: 7px;
    box-shadow:0 2px 6px 1px rgb(00, 00, 00, 0.2);
    position: relative;
    top:6.5vw;
    left:2.5vw;
   border:none;
}





.ops-side{
    height:auto;
    width:100vw;
    background-image: url(../img/opsbaggrund.png);
    background-size: cover;

    
    
}

.ops-comheader{
    display: none;
}

.ops-opskrift{
    width:92vw;
    position: relative;
    height:70vw;
    background-color: white;
    top:4vw;
    border-radius: 7px;
    box-shadow:0 2px 6px 1px rgb(00, 00, 00, 0.2);
    margin:6vw 4vw;
}

.ops-opskrift img{
    width: 95%;
    margin-left: 2.5vw;
    margin-top: 2.5vw;
}

.ops-opskrift h3{
    font-family: domine;
    font-weight: 800;
    color:#002147;
    position: relative;
    left:2.5vw;
    top:-9.5vw;
    font-size: 7vw;
}

.ops-opskrift p{
    position: relative;
    left:2.5vw;
    top:-6.5vw;
    font-family: raleway;
    font-size: 4vw;
    width:80%;
     color:#002147;

}

.ops-opskrift .ops-tid{
    font-family: raleway;
    position: relative;
    top:-15vw;
    left:3.5vw;
    color:white;
}

.ops-opskrift .ops-svarhedsgrad{
width:20%;
position:relative;
    top:-10vw;
    right:-69vw
}

.ops-side a{
    text-decoration: none;
}

.ops-opskrift2{
    display: none;
}



/*FILTER Funktion*/

.filterDiv{
     display: none;
}

.show{
  display: block;
}



.opskriftvideo{
    width:100%;
    height:40vw;
}

.fremgang{
    width:100vw;
    height:100vh;
    position: relative;
    z-index: 2000;
    background-color: white;
    margin-top:-5vw;

}



.ops-top{
    position: relative;
   
}

.ops-top h3{
    font-family: domine;
    font-size: 5vw;
    color:#002147;
    position: relative;
    left:2vw;
    display: inline;
    top:2vw;
    
}

.ops-top p{
    font-family: raleway;
     color:#002147;
    position: relative;
    top:3vw;
    left:2vw;
    line-height: 8vw;
    display: inline-block;
    width: 80%;
}

hr{
    color:#002147;
    border:1px solid #002147;
    margin-top: 5vw;
}

ul input{
    height: initial;
    box-shadow: none;
    position: initial;
    width:initial;
    
}

.steps{
    list-style: none;
    padding:0;
    
}

.tab--active{
    padding:5vw;
    background-color: #002147;
}

.tab--active a{
    text-decoration: none;
    color:white;
    padding:2vw;
    font-family: raleway;
    
}

.tab--visited{
    padding:5vw;
    background-color: #7FA284;
}

.tab--visited a{
    text-decoration: none;
    color:#BBCEBE;
    padding:2vw;
    font-family: raleway;
    
}

.tab--unactive{
    padding:5vw;
    background-color: #F0F2F4;
}

.tab--unactive a{
      text-decoration: none;
    color:#c3c3c3;
    padding:2vw;
    font-family: raleway;
}

.knap--unactive{
    text-decoration: none;
    border: 2px solid #F0F2F4;
    position: relative;
    top:27vw;
    font-family:raleway;
    padding: 2vw;
    right:-70vw;
    color:#F0F2F4;
}

.knap--active{
     text-decoration: none;
    background-color: #002147;
    position: relative;
    top:27vw;
    font-family:raleway;
    padding: 2vw;
    right:-70vw;
    color:white;
}

.ops-info p{
    font-family: raleway;
    position: relative;
   top:19vw;
    text-align: center;
}

.done{
    height:140vw;
}


.fremgang .donepic{
    width:100%;
}

.done h2{
    font-family: domine;
    font-weight:bolder;
    font-size:7vw;
    text-align: center;
    color:#002147;
    margin-top:20vw
}

.done p{
    width:55vw;
    text-align: center;
    font-family: raleway;
    color:#002147;
    margin:auto;
    margin-top:2vw
}

.done h3{
    font-size: 6vw;
    font-family: domine;
    font-style: italic;
    text-align: center;
    margin-top: 4vw;
    color:#002147;
}






















@media (min-width:767px) {
    .overlay a {
        font-size: 7vw;
    }

    .heromobil {
        display: none;

    }

    .herocom {
        display: inline;
        width: 100vw;
        margin-bottom:-0.6vw;

    }

    .headlogo {
        display: none;
    }

    header p {
        display: inline;
        color: white;
        font-family: domine;
        font-weight: bold;
        font-size: 4vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .rod {
        color: #DC3130
    }

    .overskrifttablet {
        display: inline;
    }

    .overskriftmobil h2 {
        display: none;
    }

    .overskriftmobil2 h2 {
        display: none;
    }

    .kort {
        width: 23vw;
        height: 80%;
        float: left;
        right: -37vw;
        margin: 0 15px;
        top: 4vw;

    }

    .kort .madbillede {
        height: 40%
    }

    .opskrift h3 {
        font-size: 2vw;
        top: 10vw;

    }

    h2 {
        display: none;
    }

    .overskrifttablet h2 {
        display: inline
    }

    .overskrifttablet2 h2 {
        display: inline
    }

    .beskrivelse {
        font-size: 1.4vw;

    }

    .beskrivelse {
        font-size: 1.2vw;
        top: 16vw;
        left:0.5vw;
    }

    .tid {
        top: 7.9vw;
        font-size: 1.5vw;
        left: 1.5vw
    }

    .svarhedsgrad {
        width: 6vw;
        top: 7.9vw;
        right: 1.5vw;
    }

    .nyeopskrifter {
        height: 30vw;
        background-image: url(../img/baggrundcomblaa.png)
    }

    .overskrifttablet {

        position: absolute;
        height: 100%;
        background-color: #002147;
        width: 35vw;
        left: 0;
    }

    .overskriftmobil {
        display: none;
    }
    
    .comtekst{
        display: inline;
    }



    .overskrifttablet h2 {
        color: white;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vw;
        white-space: nowrap;
        font-weight: bold;

    }

    .overskrifttablet p {

        color: white;
        text-align: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        font-family: raleway;
        font-size: 1.5vw;


    }

    .knaptekst {

        display: none;

    }

    .opskriftknap {
        width: 2.5vw;
        border-radius: 100px;
        text-align: center;
        position: absolute;
        top: 45%;
        right: 3vw;
        bottom: initial;
        padding: 1vw;
        font-size: 2vw;


    }

    .tekstunderknap {
        position: absolute;
        top: 19.5vw;
        right: 1.5vw;
        display: inline;
        font-size: 1vw;
        text-decoration: none;
        font-family: domine;
        color: #002147;

    }

    /*----UGENS OPSKRIFT-----*/

    .orden {
        width: 30vw;
        height: 30vw;
    }

    .ugensmenu {
        height: 30vw;
        background-image: url(../img/gulbaggrundcom.png);
        position: relative;
    }

    .overskriftmobil2 {
        display: none;

    }

    .overskrifttablet2 {

        position: absolute;
        height: 100%;
        background-color: #002147;
        width: 35vw;
        height: 30vw;
    }

    .overskrifttablet2 {
        display: inline;
        left: 65%;
        position: absolute;
        font-family: domine;
        text-align: center;

    }

    .overskrifttablet2 h2 {
        color: white;
        top: 30%;
        left: 0%;
        transform: translate(-50%, -50%);
        font-size: 3vw;
        font-weight: bold;
        position: relative;


    }

    .overskrifttablet2 p {

        color: white;
        font-family: raleway;
        font-size: 1.3vw;
        text-align: center;
        color: white;
        top: 30%;
        display: inline-block;
        position: relative;

    }


    .nemret {
        width: 58vw;
        top: 2vw;
        height: 26vw
    }

    .nemret .video {
        width: 30vw;
        height: 26vw;
    }

    .nemret h3 {
        width: 30vw;
        position: relative;
        top: -27vw;
        left: 29vw;
        font-size: 2vw;
    }

    .nemret img {
        width: 8vw;
        position: relative;
        top: -27.5vw;
        left: 29vw;
    }

    .nemtid {
        font-size: 1.4vw;
        position: relative;
        top: -28vw;
        left: 29vw;
    }

    .like {
        font-size: 1.6vw;
        position: relative;
        left: 54vw;
        top: -29.5vw
    }



    .nembeskrivelse {
        font-size: 1.2vw;
        width: 24vw;
        top: -30.5vw;
        margin-top: 0vw;
        left: 29vw;
        font-family: raleway;

    }

    .nemret p {
        margin-top: 1.5vw
    }

    /*----Kokkeskole------*/

    .kokkeskoleforside {
        height: 30vw;
        position: relative;
        background-image: none;

    }

    .overskrifttablet {
        height: 30vw;

    }

    .contentkok img {
        width: 14vw;
        top: 3vw;
        left: 40vw;
        border-radius: 7px;


    }
    
    .kokkeskoleforside .overskrifttablet h2{
        position: absolute;
        top:30%;
    }
    
    .contentkok{
        width:65vw;
        position:relative;
        left: 35vw;
          background-image: url(../img/rodbaggrundcom.png);
        background-size: cover;
        background-repeat: no-repeat;
        height:30vw;
    }

    .contentkok p {
        font-size: 2vw;
    }
    
    .koklink1{
        position: relative;
        left:-35vw;
    }



    .koklink1 p {
        font-size: 1.4vw;
        width: 10vw;
        left: 40.5vw;
        top: -2vw;
    }

    .koklink2 {
        left: -32vw;
    }

    .koklink3 {
        display: inline;
        position: relative;
        left: -29vw;
    }
    
    .semere{
        position: relative;
        top:-15vw;
        height:auto;
        left:93vw;
        
    }
    
    .semere i{
        top:0;
        
    }
    
    .semeretekst{
        display: inline;
        position: relative;
        left:88.5vw;
        top:-11.5vw;
        text-decoration: none;
        color:#002147;
        font-family: domine;
        font-size: 1vw;
     
        
    }
    
    .kokkeskoleforside h2{
        font-family: domine;
        position: absolute;
    }
    
    
    /*-----FOOTER-------*/
    
    footer{
        height:13vw;
        position: relative;
        margin-bottom: -1vw;
    }
    
    footer p{
        font-size: 2.5vw;
        top:1.5vw;
    }
    
    footer li{
        text-align: left;
        margin:0.5vw;
        font-size: 1.2vw;
        top:2vw;
        left:2vw;
        width:20vw;
        white-space: nowrap;
            
    }
    footer img{
        width:2vw;
        top:-0.5vw;
        margin:0.5vw;
        left:92vw;
    }
    
    
    .ops-comheader{
        display: block;
        position: relative;
        width:100vw;
        height:35vw;
        background-image: url(../img/opsheader.png);
        background-size: cover;
        background-repeat: no-repeat;
    
        
        
    }
    

    
  
    
        .ops-comheader h3{
        color: white;
        font-size: 5vw;
        font-family: domine;
        width:50vw;
        text-align: center;
            position: relative;
            left: 25vw;
            top:8vw;
            
        
    }
    
      .ops-comheader p{
        color: white;
        font-size: 2vw;
        font-family: domine;
          text-align: center;
          width:50vw;
          margin-top: 2vw;
          position: relative;
          left:25vw;
          top:8vw;
          font-family: raleway;   
    }
    
  
    
    .opskriftheader h2{
        display: none;
        
    }
    
    .ops-beskrivelsemobil{
        display: none;
        
    }
    
    input{
        width:40vw;
        top:1vw;
        height:4vw;
        left:5vw;
    }
    
    .opskriftheader{
        height:16vw;
    }
    
    .filter img{
        width:4vw;
        height:4vw;
        margin:0vw 2vw;
        position: relative;
        left:45vw;
        top:-13vw;
        padding:1vw;
    }
    
    .alleops{
        left:10vw;
        font-size: 1.2vw;
        width:7vw;
        text-align: center;
        top:-6vw;
        left:-3.5vw;
    }
    
    .kod{
        left:10vw;
        font-size: 1.2vw;
        width:7vw;
        text-align: center;
        top:-6vw;
        left:-0.5vw;
        
    }
    
    .kylling{
        
          left:10vw;
        font-size: 1.2vw;
        width:7vw;
        text-align: center;
        top:-6vw;
        left:2.5vw;
        
        
    }
    
    .fisk{
        
               left:10vw;
        font-size: 1.2vw;
        width:7vw;
        text-align: center;
        top:-6vw;
        left:5.5vw;
        
    }
    
    .vegetar{
               left:10vw;
        font-size: 1.2vw;
        width:7vw;
        text-align: center;
        top:-6vw;
        left:8.5vw;
    }
    
    .ops-side{
        width:100vw;
        height:auto;
        background-image: url(../img/opsbaggrundcom.png);
        background-size: cover;
        background-repeat: no-repeat;
    }   
    
    .ops-opskrift{
        width:40vw;
        height:27vw;
        margin:1vw 1.5vw;
       
    }
    
    
    .ops-opskrift img{
        margin-left: 1vw;
        margin-top:1vw;
        
    }
    
    .ops-opskrift h3{
        
        font-size: 3vw;
        position: relative;
        top:-4vw;
        left:1vw;
        
    }
    
    .ops-opskrift p{
        font-size: 1.5vw;
        left:1vw;
        top:-3vw;
        
    }
    
    .ops-opskrift .ops-tid {
    font-family: raleway;
    position: relative;
    top:-6vw;
    left:1.5vw;
    color:white;
    
}
    
  .ops-opskrift .ops-svarhedsgrad{
width:15%;
position:relative;
    top:-4vw;
    right:-31vw
}
    
    .ops-opskrifter{
        width:87%;
        margin-left: 6.5%;
       display: flex;
        flex-wrap: wrap;
        position: relative;
        top:-3vw
        
        
    }
    
    
    .ops-opskrift2{
        display: inline-block;
    }
    
  
    
    #opskrift, #opskrift2, #opskrift3, #opskrift4, #opskrift5, #done{
        background-image: url(../img/fremgangbaggrund.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
  .opskriftvideo{
    width:100%;
    height:30vw;
}

.fremgang{
    width:60vw;
    margin: 5vw 20vw;
    height:90vw;
    position: relative;
    z-index: 2000;
    background-color: white;

}

.ops-top{
    position: relative;
   
}

.ops-top h3{
    font-family: domine;
    font-size: 3vw;
    color:#002147;
    position: relative;
    left:2vw;
    display: inline;
    top:2vw;
    
}

.ops-top p{
    font-family: raleway;
     color:#002147;
    position: relative;
    top:3vw;
    left:2vw;
    line-height:4vw;
    display: inline-block;
    width: 80%;
    font-size: 2vw
}

hr{
    color:#002147;
    border:2px solid #002147;
    margin-top: 5vw;
}


.tab--active{
    padding:2.5vw;
  
}



.tab--visited{
    padding:2vw;
 
}



.tab--unactive{
    padding:2.5vw;

}

.knap--unactive{
    text-decoration: none;
    border: 2px solid #F0F2F4;
    position: relative;
    top:9vw;
    font-family:raleway;
    padding: 0.5vw;
    right:-48vw;
    color:#F0F2F4;
}

.knap--active{
     text-decoration: none;
    background-color: #002147;
    position: relative;
    top:9vw;
    font-family:raleway;
    padding: 0.5vw;
   right:-48vw;
    color:white;
}

.ops-info p{
    font-family: raleway;
    position: relative;
   top:6vw;
    text-align: center;
    font-size: 1.5vw;
    width:25vw;
    left:15vw;
}
    
    
    #done h2{
        display:block;
        margin-top:12vw;
        font-size: 4vw;
        
    }
    
    #done h3{
        font-size: 4vw;
    }

    
    
    
 
    
   
        
    }
    
        
    

    

    
   
    
    
    






@media (min-width:1023px) {


    .computernavigation {

        display: inline;
        position: relative;
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -50%);

    }

    .burgermenu {

        display: none;
    }

    header p {
        font-size: 2.6vw;
    }


    .computernavigation li {
        list-style: none;
        float: left;
        margin-left: 40px;



    }

    .computernavigation ul a {
        text-decoration: none;
        color: white;
        font-family: domine;
        font-size: 1.4vw;
        cursor: pointer;

    }


    header p {
        left: 120px;
        font-size: 30px;
    }

    .headlogo {
        display: inline-block;
        left: 250px;
        width: 50px;
    }

    .opskriftknap {
        right: 3.5vw;
    }

    .tekstunderknap {

        top: 18vw;
        right: 1.8vw;
        display: inline;
        font-size: 1vw;
    }
    
    
    .ops-opskrifter{
        left:1vw;
    }
    
    .ops-opskrift{
        width:25vw;
        height:20vw
    }
    
    
    .ops-opskrift .ops-tid{
        font-size: 1.3vw;
        position: relative;
        top:-5.1vw;
       
    }
    
    
    .ops-opskrift .ops-svarhedsgrad{
        position: relative;
        left:17vw;
        width:6vw;
        top:-3.2vw;
            
    }
    
    .ops-side{
        background-image: url(../img/baggrundcomops.png);
      background-size: cover;
    }
    
    .ops-opskrift h3{
        font-size: 1.8vw;
        position: relative;
        top:-3.6vw;
        
    }
    
    .ops-opskrift p{
        font-size: 1.2vw;
        width:95%;
        top:-2.5vw
    }
    
    input{
        width:30vw;
        left:10vw
    }
    
    .filter img{
        width:3vw;
        height:3vw;
        top:-12.5vw;
            left:41.5vw;
    }
    
    .alleops{
        left:-2.5vw;
        
    }
    
    .kylling{
        left:1.5vw;
    }
    
    .fisk{
        left:3.5vw;
    }
    
    .vegetar{
        left:5.5vw;
    }
    
    .fremgang{
        width:50vw;
        height: 80vw;
        margin-left:25vw;
    }
    
    .ops-top h3{
        font-size: 2vw;

    }
    
    .ops-top p{
        font-size: 1.5vw;
        
    }
    
    .ops-info p{
        top:2vw;
        font-size: 1vw;
    }
    
    .knap--unactive{
    text-decoration: none;
    border: 2px solid #F0F2F4;
    position: relative;
    top:4vw;
    font-family:raleway;
    padding: 0.5vw;
    right:-40vw;
    color:#F0F2F4;
}

.knap--active{
     text-decoration: none;
    background-color: #002147;
    position: relative;
    top:4vw;
    font-family:raleway;
    padding: 0.5vw;
   right:-40vw;
    color:white;
}
    
    #done p{
        width:35vw;
        font-size: 2vw;
    }
    
    



}
